<div>
    <form class="form-horizontal" name="productForm" novalidate>
        <fieldset>
            <legend>Search Flight Deals</legend>            
            <div class="form-group" >
                <label class="col-md-2 control-label"
                   for="inputDepartingDate">Departure Date</label>

                <div class="col-md-4">
                    <input class="form-control" type="text" 
                        id="inputDepartingDate" ng-model="vm.dateFilter"/>                    
                </div>
            </div>
        </fieldset>
        <div class="col-md-offset-2">
            <input type="submit" ng-click="vm.search()" 
                class="btn btn-primary" value="Search" />
        </div>
    </form>
</div>
<fieldset>
    <legend>Search Results</legend>
    <search-results/>
</fieldset>
<script>
    $(document).ready(function() {
        $( "#inputDepartingDate" )
            .datepicker({dateFormat: "dd-MM-yy"});
    });
 </script>
